/**************** FUENTES *******************************/

@font-face {
	src: url("../fonts/HARRYP__.TTF");
	font-family: titles;
}

@font-face {
	src: url("../fonts/4PrivetDrive-Español.ttf");
	font-family: body;
}

/******************* BARRA DE NAVEGACIÓN ***********************/
.navbar {
	background-color: rgb(68, 4, 77);
	font-family: titles;
	font-size: 1.5em;
}
.navbar-brand {
	padding: 5px;
}

.nav-item {
	padding: 5px;
}

#playlist {
	max-width: 576px;
	min-width: max-content;
}

.form-inline {
	position: right;
}

.dropdown:hover {
	color: rgb(110, 81, 114);
}

@media screen and (min-width: 900px) {
	.navbar-toggler-icon {
		display: none;
	}
}

/******************* LAYOUT BÁSICO *************************/
body {
	background-color: rgb(110, 81, 114);
	font-family: body;
}

a {
	text-decoration: none;
	color: rgb(68, 4, 77);
	font-weight: bold;
}

a:hover {
	color: orangered;
}

.btn {
	background-color: orangered;
	color: white;
}

.btn:hover {
	color: rgb(68, 4, 77);
}

hr {
	background-color: rgb(68, 4, 77);
}

/********************** INTRO *****************************/
.jumbotron {
	background-image: url("../images/Other/hogwarts_ruins.jpg");
	border-radius: 0;
	background-size: cover;
	background-position: top center;
	height: 100%;
	margin: 0%;
}

#jumbotron-text {
	background-color: rgb(110, 81, 114);
	background-position: bottom;
	border-radius: 5px;
	color: rgb(68, 4, 77);
	opacity: 0.8;
}

/***************** DICCIONARIO MÁGICO *********************/

.table {
	background-color: white;
	color: rgb(68, 4, 77);
}

/********************** HISTORIA **************************/

#history {
	background-color: rgb(68, 4, 77);
	color: white;
}

/******************** MUNDO MÁGICO ************************/
#world {
	background-color: rgb(68, 4, 77);
}
.card {
	box-shadow: 3px 3px 8px white;
	background-color: rgb(143, 115, 146);
	color: rgb(68, 4, 77);
}

/********************* ZONA MUGGLE ************************/

#muggles img {
	max-width: 100%;
	height: auto;
}

#muggles .overlay {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: rgb(110, 81, 114);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 0.5s ease;
}

#muggles .container:hover .overlay {
	width: 100%;
	left: 0;
}

#muggles .text {
	color: orangered;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

/*********************** FOOTER ***************************/
hr {
	margin-top: 0%;
}

footer {
	font-family: titles;
	font-size: 1.25em;
	color: rgb(68, 4, 77);
	background-color: rgb(110, 81, 114);
}

footer .fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
}

.fa:hover {
	opacity: 0.7;
	color: rgb(68, 4, 77);
}

.fa-github {
	background: darkgray;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
