/**************** FUENTES *******************************/

@font-face {
	src: url("../fonts/HARRYP__.TTF");
	font-family: titles;
}

/******************* BARRA DE NAVEGACIÓN ***********************/
.navbar {
	background-color: rgb(68, 4, 77);
	font-family: titles;
	font-size: 1.25em;
}

@media only screen and (min-width: 1024px) {
	.navbar.responsive {
		display: none;
	}
}

/******************* LAYOUT BÁSICO *************************/
body {
	background-color: rgb(110, 81, 114);
	font-family: body;
}

a {
	text-decoration: none;
	color: rgb(68, 4, 77);
	font-weight: bold;
}

/********************** INTRO *****************************/
.jumbotron {
	background-image: url("../images/hogwarts_ruins.jpg");
	background-size: cover;
	background-position: top center;
	height: 100vh;
}

#jumbotron-text {
	background-color: rgb(110, 81, 114);
	opacity: 0.6;
}

.bg-opacity-dark {
	background-color: rgb(68, 4, 77);
}

/********************** HISTORIA **************************/

/******************** MUNDO MÁGICO ************************/

/********************* ZONA MUGGLE ************************/

/*********************** MARCAS ***************************/

/*********************** FOOTER ***************************/

footer {
	font-family: titles;
	font-size: 1.1em;
	color: rgb(68, 4, 77);
	background-color: rgb(110, 81, 114);
}

footer .fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
}

.fa:hover {
	opacity: 0.7;
	color: rgb(68, 4, 77);
}

.fa-github {
	background: darkgray;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
