/**************** FUENTES *******************************/

@font-face {
	src: url("../fonts/HARRYP__.TTF");
	font-family: titles;
}

@font-face {
	src: url("../fonts/4PrivetDrive-Español.ttf");
	font-family: body;
}

/******************* BARRA DE NAVEGACIÓN ***********************/
.navbar {
	background-color: rgb(68, 4, 77);
	font-family: titles;
	font-size: 1.5em;
}
.navbar-brand {
	padding: 5px;
}

.nav-item {
	padding: 5px;
}

#playlist {
	max-width: 576px;
	min-width: max-content;
}

.form-inline {
	position: right;
}

@media screen and (min-width: 1200px) {
	.navbar-toggler-icon {
		display: none;
	}
}

/******************* LAYOUT BÁSICO *************************/
body {
	background-color: rgb(110, 81, 114);
	font-family: body;
}

a {
	text-decoration: none;
	color: rgb(68, 4, 77);
	font-weight: bold;
}

a:hover {
	color: orangered;
}

.btn {
	background-color: orangered;
	color: white;
}

.btn:hover {
	color: rgb(68, 4, 77);
}

hr {
	background-color: rgb(68, 4, 77);
}

/********************** INTRO *****************************/
.jumbotron {
	background-image: url("../images/hogwarts_ruins.jpg");
	background-size: cover;
	background-position: top center;
	height: 100%;
}

#jumbotron-text {
	background-color: rgb(110, 81, 114);
	background-position: bottom;
	border-radius: 5px;
	color: rgb(68, 4, 77);
	opacity: 0.8;
}

/***************** DICCIONARIO MÁGICO *********************/

.table {
	background-color: white;
	color: rgb(68, 4, 77);
}

/********************** HISTORIA **************************/

#history {
	background-color: rgb(68, 4, 77);
	color: white;
}

/******************** MUNDO MÁGICO ************************/
#world {
	background-color: rgb(68, 4, 77);
}
.card {
	box-shadow: 3px 3px 8px white;
	background-color: rgb(143, 115, 146);
	color: rgb(68, 4, 77);
}

.card-columns {
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	/*@include media-breakpoint-only(xl) {
		column-count: 5;
	}*/
}

/********************* ZONA MUGGLE ************************/

/*********************** FOOTER ***************************/

footer {
	font-family: titles;
	font-size: 1.25em;
	color: rgb(68, 4, 77);
	background-color: rgb(110, 81, 114);
}

footer .fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
}

.fa:hover {
	opacity: 0.7;
	color: rgb(68, 4, 77);
}

.fa-github {
	background: darkgray;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
